.trips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../auth/newzealandflowers.jpg);
  }
  
  .trip {
      flex-basis: 18%;
      margin: 1em;
      padding: 1em;
      border: 1px solid white;
  }

.tripForm{
    background-image: url(../auth/sunrise.jpg)
}

.text{
    color: black;
}

.title{
    color: black;
}


.tripElements{
    display: inline-block;
    margin-left: 5.5%;
    color: white;
}

.tripDetail{
    background-image: url(../auth/ocean.jpg)
}

.tripTitle{
    color: white;
}