.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(103, 105, 105);
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__link {
color: rgb(255, 255, 255);
}

.navbar__trips{
    color: rgb(255, 255, 255);
}